mysql: &mysql
  adapter: mysql
  socket: <%= `mysql_config --socket` %>
  username: rails
  password:

development:
  <<: *mysql
  database: chuckslist_dev

test:
  <<: *mysql
  database: chuckslist_test

production:
  <<: *mysql
  database: chuckslist
  #pool: 10
